/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Karla:ital,wght@1,200&family=Kumbh+Sans:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Mulish:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300&display=swap');

p {
    font-family: Inter,san-serif;
}

hr {
    height: 0px;
    border: none;
    border-top: 0.5px solid rgb(59, 58, 58);
}

strong {
    font-weight: bold;
}
.project {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.project-title {
    font-size: 6em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: gray;
}

.main-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;

}

.body-larger-text {
    font-size: larger;
}

li {
    margin-left: 50px;
    font-size: 16px;
    line-height: 2;
}

.body-text {
    margin-top: 1em;
}

img {
    height: 500px;
    border-radius: 10px;
}

.hyrs {
    height: 700px;
}


video {
    margin-top: 25px;
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.grid-text {
    grid-column: 1;
}

.grid-image {
    grid-column: 2;
}
/* 
SLIDESHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides,
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(67, 66, 66, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dot2  {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}
