/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Karla:ital,wght@1,200&family=Kumbh+Sans:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Mulish:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(0, 0%, 92%);
    --container-color: hsl(207, 4%, 95%);
  
    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Playfair Display', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
    vertical-align: baseline;
  }
  
  body {
    max-width: 1280px;
    margin: 0 auto !important; 
	float: none !important; 
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  h1 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 3rem;

  }

  h2 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 2rem;
  }

  h3 {
    color: var(--title-color);
    font-family: Raleway,san-serif;
    font-size: 2.5rem;
    font-weight: 300;
  }

  p {
    font-family: Inter,san-serif;
    font-size: large;
    line-height: 2;
  }

  /* navbar */
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .logo {
    font-size: 50px;
    color: var(--title-color);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-font);
  }

  .navbar a {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-decoration: none;
    margin-left: 40px;
  }

  .profile {
    height: 500px;
  }

  /* work experiences grid */
  .grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr 0.5fr;
    row-gap: 1em;
  }

  .experiences {
    grid-column: 2 / 5;
  }

  .experience {
    text-align: center;
    margin: 10px 0;
    font-size: 2em;
  }

  .projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: .5fr 20px 3fr 20px .75fr 20px 3fr 20px .5fr;
    grid-template-rows: 30px 1fr 20px .9fr;
    column-gap: 1em;
  }

  .container1 {
    grid-row: 1 / 5;
    grid-column: 2  / 5;
    border-radius: 30px;
    border-width: 1;
    border-style: solid;
    border-color: grey;
  }

  .container2 {
    grid-row: 1 / 5;
    grid-column: 6 / 9;
    border-radius: 30px;
    border-width: 1;
    border-style: solid;
    border-color: grey;
  }

  .cover1{
    grid-row: 2;
    grid-column: 3 / 4 ;
  }

  .cover2{
    grid-row: 2;
    grid-column: 7 / 8;
  }

  .description1 {
    grid-row: 4;
    grid-column: 3;
  }

  .description2 {
    grid-row: 4;
    grid-column: 7;
  }

  img {
    /* filter: drop-shadow(10px 10px 10px hsl(207, 4%, 56%)); */
    border-radius: 15px;
  }

  .date {
    color: lightgrey;
    font-size: x-large;
  }