/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Karla:ital,wght@1,200&family=Kumbh+Sans:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Mulish:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Raleway:wght@100;200;300&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: #f5f5f3;
    --container-color: white;
  
    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Playfair Display', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
    vertical-align: baseline;
  }
  
  body {
    max-width: 1300px;
    width: 85%;
    margin: 0 auto;
    float: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  h1 {
    color: Helvetica,san-serif;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 80px;

  }

  h2 {
    padding-top: .75em;
    color: var(--title-color);
    font-family: "Helvetica Neue";
    font-size: 3.2rem;
    text-align: left;
    font-weight: bold;
  }

  h3 {
    color: var(--title-color);
    font-family: "Helvetica Neue";
    font-size: 3rem;
    font-weight: 200;
  }

  p {
    font-family: Helvetica,san-serif;
    font-size: 14px;
    line-height: 2;
  }

  /* navbar */
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 30px;
  }

  .logo {
    font-size: 50px;
    color: var(--title-color);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--title-font);
  }

  .navbar a {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-decoration: none;
    margin-left: 40px;
  }

  .profile {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 1000px;
  }

  .profile-grid {
    padding: 0 3em;
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr;
    min-width: 0px;
  }
  .profile-words{
    min-width: 0px;
    grid-column: 2;
    grid-row: 1;
    padding-top: 10vh;
    overflow: scroll;
    height: inherit;
  }  

  .profile-words p{
    font-size: 14px;
    line-height: 1.5; 
    padding-left: 50px;
    margin-right: 10px;
  }
  
  .me {
    padding-left: 1em;
    min-width: 0px;
    grid-column: 1;
    grid-row: 1;
    max-width: 75%;
    height: inherit !important;
  }

  hr {
    height: 0px;
    border: none;
    border-top: 0.5px solid black;
    margin: 1em 0;
  }

  .icon {
    height: 30px;
    margin: 5px;
    margin-right: 5px;
  }
  .icon2 {
    height: 37px;
    margin: 2px 5px;
  }

  /* work experiences grid */


  .experience {
    margin-top: 10px;
    font-size: var(--normal-font-size);
    font-weight: 1500;
    padding-left: 250px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .experience p {
    color: black;
  }
  .experience-p {
    padding-left: 250px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .experience-num {
    float: left;
    font-size: var(--normal-font-size);
    line-height: 0;
    margin-top: 1em;
    color: black;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .card {
    padding: 0 3em;
  }

  .plus {
    height: 40px;
    margin-top: .5em;
    transition: all 0.5s;
    float: right;
  }

  .plus:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 black;
  }

  .read-more {
    display: block;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
  }

  .read-more--open{
    display: block;
    opacity: 1;
    height: 18rem;
  }

  .tab {
    display: inline-block;
    margin-left: 40px;
  }


/*  project grid */


  .project-page {
    text-decoration: none;
    color: initial;
}


  .skill {
    grid-row: 3;
    height: 35px;
    margin: 2rem 2rem;
    grid-column: inherit;
  }

  .skill p {
   background-color: black;
    display: inline;
    padding: .5rem 1rem;
    border-radius: 5px;
    border-width: 1.5px;
    border-style: solid;
    color: white;
    font-size: 16px;
    margin-right: 1rem;
  }

  /* .cover {
    grid-column: inherit;
    min-width: 0px;
  } */


/* website layout */
.main-content {
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

.column{
  float: left;
  position: relative;
  text-align: left;
  width: 44%;
  margin:0 3%;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  border-width: 1px;
  border-color: #ffffff;
  padding-bottom: 1.5em
}

.column:hover {
  background-color: black;
  cursor: pointer;
}

.main-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 875px) {
  .column {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
  }
}

.column p {
  transition: all 0.4s ease-in-out;
}

.column h3{
  transition: all 0.4s ease-in-out;
  font-size: 3em;
}

.column:hover p,
.column:hover h3 {
  color: white;
}

.date {
  color: white;
}

.cover img {
  display: block;
  margin: 1.5em auto;
  width: 88%;
}

.description {
  margin: auto;
  width: 88%;
  word-break: break-word;
  margin-bottom: 10%;
}

.skills {
  margin: auto;
  width: 88%; 
  
}

.item {
  display: inline-block;
  width: fit-content;
  padding: .5rem .75rem;
  background-color: black;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: solid;
  color: white;
  margin-right: .5em;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}